/* src/index.css */
.word-oval {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px; /* Gives the oval shape */
  background-color: #4CAF50; /* Example background color */
  color: white; /* Example text color */
  text-align: center;
  cursor: pointer; /* Changes the cursor on hover */
  /* Add any other styling you want for the ovals */
}

.category-oval {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px; /* Gives the oval shape */
  background-color: #4CAF50; /* Example background color */
  color: white; /* Example text color */
  text-align: center;
  cursor: pointer;
}